@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;600;700;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}



/* ====================== Navbar Start Here ====================== */
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}
.nav-part2{
    display: flex;
    gap: 4vw;
    align-items: center;
}
.nav h2{
    font-size: 1.5vw;
    font-weight: 700;
}
.nav h4{
    font-size: 1.1vw;
}
.nav button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: #BA68C8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}
/* ====================== Navbar End Here ====================== */

/* ====================== Content Start Here ====================== */
.content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
}

.left{
    height: 100%;
    width: 55%;
    padding: 5vw 4vw;
}
.left h1{
    font-size: 4vw;
    line-height: 4.4vw;
}
.left h1 span{
    color: #BA68C8;
}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.content button{
    font-size: 1.2vw;
    padding: 1.3vw 2.3vw;
    background-color: #BA68C8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.right{
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
}
/* ====================== Content End Here ====================== */







/* ====================== Media Queries Start Here ====================== */
@media (max-width:600px) {
    .nav{
        padding: 0 6vw;
        height: 60px;
    }
    .nav h2{
        font-size: 5.1vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav button{
        display: none;

    }
    .nav i{
        display: block;
        font-size: 4.5vw;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }
    .right{
        width: 100%;
        height: 55%;
    }
    .left h1{
        font-size: 9vw;
        line-height: 9vw;
    }
    .left p{
        font-size: 4vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 6vw;
    }
    .content button{
        padding: 3vw 6vw;
        font-size: 3.5vw;
        border-radius: 3px;
        font-weight: 600;
    }
}
/* ====================== Media Queries End Here ====================== */